body {
    background-color: lightgreen;
}

#main-grid {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(48, 1fr);
    grid-template-rows: repeat(48, 1fr);
    background-color: white;
}

.cell {
    border-top: 1px solid black;
    border-left: 1px solid black;

}

.greyed {
    background-color: grey;
}